$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,700,200italic,300italic,700italic);
.header {
    background: url('../images/MarkITx-LP-BG-01Header.jpg') no-repeat;
    background-size: cover;
    position: relative;
    
    width: 100%;
    color: #FFFFFF;
    h2 {
        padding-top: 61px;
        padding-bottom: 55px;
        line-height: 36px;
        font-weight: 200;
    }
}

.whoiscontainer {
    color: #2E2934;
    padding-bottom: 25px;
}

.whorow {
    margin-top: 15px;
    
}

.whotext {
    color: #414042;
    font-size: 18px;
    line-height: 21.6px;
}

.vertical-rec {
    display: inline-block;
    margin-top: 15px;
    background-color: #00a2a7;
    width: 8px;
    height: 57px;
}

.whobold {
    display: inline-block;
    position: absolute;
    top: 6px;
    left: 30px;
}

p.whobold {
    font-size: 18px;
    top: 38px;
}

.cta {
    margin-top: 30px;
    background: url('../images/MarkITx-LP-BG-02CTA.jpg') no-repeat;
    background-position: 50% 36%;
    background-size: cover;
    position: relative;
   
    width: 100%;
    color: #FFFFFF;
    h2 {
        margin-top: 50px;
        line-height: 36px;
        font-weight: 200;
    }
    .ctabutton {
        font-weight: 200;
        font-size: 24px;
        line-height: 1;
        margin-top: 25px;
        margin-bottom: 50px;
        width: 178px;
        height: 45px;
        background-color: #00a2a7;
    }
    .ctabottom {
        font-size: 16px;
        line-height: 19.2px;
        margin-top: 20px;
    }
}
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
.col-fixed {
    /* custom width */
    width:200px;
}
.col-min {
    /* custom min width */
    min-width:320px;
}
.col-max {
    /* custom max width */
    max-width:185px;
}

.value {
    .box {
        margin-right: 45px;
    }
    background-color: #D9F6D0;
    padding-bottom: 50px;
    h2 {
        margin-top: 47px;
    }
    .valuebox {
        text-align: center;
        padding-left: 7px;
        padding-right: 7px;
        margin-top: 20px;
        width: 178px;
        height: 105px;
        background-color: #FFFFFF;
        line-height: 115px;
        p {
            padding: 10px;
            display: inline-block;
            vertical-align: middle;
            font-size: 16px;
        }
    }
}

.circlemarg {
    margin-top: 30px;
}

.howitworks {
    .box {
        margin-right: 45px;
    }
    
    h2 {
        margin-top: 47px;
        margin-bottom: 35px;
    }
    .howitbox {
        display: table-cell;
        text-align: center;
        margin-top: 23px;
        padding-top: 20px;
        padding-left: 7px;
        padding-right: 7px;
        padding-bottom: 20px;
        width: 178px;
        height: 300px;
        background-color: #F1F1F1;
        line-height: 64px;
        .circlenum {
            position: relative;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10px;
            height: 40px;
            width: 40px;
            border-radius: 100%;
            background-color: #00a2a7;
            p {
                position: relative;
                display: block;
                line-height: 1;
                font-size: 30px;
                font-weight: 200;
                color: #FFF;
            }
        }
        hr {
            width: 100px;
            margin: auto;
            margin-top: 10px;
            margin-bottom: 10px;
            background-color: #1d1d1d;
            height: 1px;
        }
        p {
            padding: 5px;
            display: inline-block;
            vertical-align: middle;
            font-size: 16px;
            margin-bottom: 0;
        }
    }
    .howitbottom {
        margin-top: 47px;
      
        color: #414042;
        font-size: 18px;
        line-height: 21.6px;
    }
}

.examples {
    background-color: #F1f1f1;
    margin-top: 47px;
    padding-top: 50px;
    .examplesgraphs {
        margin-top: 37px;
        margin-bottom: 49px;
        h4 {
            margin: 0;
        }
        p {
            margin: 0;
            font-size: 16px;
        }
    }
}
.footer {
    padding-top: 40px;
    padding-bottom: 27px; 
    background-color: #2E2934;
    color: #FFFFFF;
    p {
        font-size: 18px;
    }
}
/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    .container {
        max-width: 960px;
    }
    /* Remove the padding we set earlier */
    
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    
    .jumbotron {
        border-bottom: 0;
    }
}